QWidget {
    qproperty-focusPolicy: NoFocus;
    font-family: Roboto;
}

QPushButton {
/*    background-image: url(:/mibdv/prova);*/
    background-repeat: no-repeat;
    background-position: middle middle;
    border-color: black;
}

QListWidget {
    background-color: white;
}

QListView::item {
    border: none;
}

QTreeView::branch {
    background: red;
    padding: 0px;
    margin: 0px:
}
